<%= form_for(@client) do |f| %>
  <% type_id = { 'Cédula de Ciudadanía' => 'CC', 'Targeta de Identidad' => 'TI', 'Registro Civil' => 'RC', 'Cédula de Extranjería' => 'CE', 'Carné de Indetidad' => 'CI', 'Documento Nacional de Identidad' => 'DNI' } %>
    <% sex = { 'Male' => 1, 'Female' => 2 } %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
        <% @client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type_id, 'Identity Document' %><br />
    <%= f.select :type_id, type_id, :prompt => "Select a Document", :required => true %>
  </div>
  <div class="field">
    <%= f.label :num_id, 'Number Document' %><br />
    <%= f.number_field :num_id, :required => true %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :required => true %>
  </div>
  <div class="field">
    <%= f.label :born, 'Date of Birth' %><br />
    <%= f.date_select :born, :required => true, :start_year => 1998, :end_year => 1960 %>
  </div>
  <div class="field">
    <%= f.label :sex %><br />
    <%= f.select :sex, sex,:prompt => "Select a Sex", :required => true %>
  </div>
  <div class="field">
    <%= f.label :country %><br />
    <%= f.select :country, Country.all.map(:name).sort, :prompt => "Select a Country", :required => true %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state, :required => true %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field avatar">
    <div class="btn-avatar btn btn-danger"><%= f.label :avatar, 'Select an Avatar' %></div>
    <%= f.file_field :avatar, :accept => 'image/*' %>
  </div>
  <div class="actions">
    <%= f.submit 'Save Client', :class => 'btn' %>
  </div>
<% end %>
